exportPattern("^[[:alpha:]]+")
useDynLib(pvrank)
import(EnvStats)
import(Rmpfr)
importFrom("graphics", "curve")
importFrom("stats", "integrate", "optimize", "pt", "qbeta", "qnorm", "qt")
importFrom("utils", "read.table")