exportPattern("^[[:alpha:]]+")
useDynLib("pvrank", .registration = TRUE)
import(utils)
import(gmp)
import(Rmpfr)
import(EnvStats)
importFrom("graphics", "curve")
importFrom("stats", "integrate", "optimize", "pt", "qbeta", "qnorm","qt")
